
.tableContainer{
    display: flex;
    justify-content: center;
    .tableBox{
        margin-top: 50px;
        height: 400px;
        width: 90%;
        border-radius: 10px;
        background-color: white;
    }
    .tableActions{
        display: flex;
        justify-content: space-between;
        margin: 5px;

        .tableDateActions{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 400px;
        }
    }
}
